{:profiles {:Default {:default true}}

 :templates
 {:activate             "osascript -e 'tell application \"%s\" to activate'"
  :activate-with-window "open -a \"%s\""}

 :main
 [{:des "Caps Lock → Hyper Key"
   :rules [[:##caps_lock :!CTOSleft_command nil {:alone :caps_lock}]]}

  {:des "Launch applications"
   :rules
   [[:!CTOS1 [:activate-with-window "Helium"]]
    [:!CTOS2 [:activate-with-window "Mail"]]
    [:!CTOS3 [:activate-with-window "Messages"]]
    [:!CTOSs [:activate-with-window "Spotify"]]
    [:!CTOSz [:activate-with-window "Zen"]]
    [:!CTOSd [:activate-with-window "Legcord"]]
    [:!CTOSo [:activate-with-window "Obsidian"]]
    [:!CTOSn [:activate-with-window "Notion"]]
    [:!CTOSc [:activate-with-window "Notion Calendar"]]
    [:!CTOSt [:activate-with-window "Todoist"]]
    [:!CTOSb [:activate-with-window "Bitwarden"]]
    [:!CTOSe [:activate-with-window "Ente Auth"]]
    [:!CTOSf [:activate-with-window "Finder"]]]}]}